dotenv_if_exists .env

if has nix; then
  use flake
fi

export QMK_USERSPACE=${QMK_USERSPACE:-$(git rev-parse --show-toplevel)}
export QMK_HOME=${QMK_HOME:-$(git rev-parse --show-toplevel)/qmk_firmware}
